# Credenciais e variáveis de ambiente
.env
.env.*

# Python
__pycache__/
*.pyc

# Ambientes virtuais
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code local
.vscode/

.env
.env.*
!.env.example
*.bak
